<div class="project-list">
{% for project in site.data.projects %}
<article class="project-row"><span class="project-number" aria-hidden="true">{{ project.number }}</span><div><p class="project-category">{{ project.category }}</p><h3><a href="{{ '/projects/' | relative_url }}#{{ project.name | slugify }}">{{ project.name }}</a></h3></div><p class="project-summary">{{ project.description }}</p><a class="project-open" href="{{ '/projects/' | relative_url }}#{{ project.name | slugify }}" aria-label="閱讀 {{ project.name }} 專案介紹"><span aria-hidden="true">↗</span></a></article>
{% endfor %}
</div>
